<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <!-- Azure -->
            <div class="col-md-2 col-sm-3">
                <a href="#">
                    <img src="img/logos/azure.jpg" class="img-responsive img-centered" alt="Azure">
                </a>
            </div>
            <!-- Snowflake -->
            <div class="col-md-2 col-sm-3">
                <a href="#">
                    <img src="img/logos/snowflake.jpg" class="img-responsive img-centered" alt="Snowflake">
                </a>
            </div>
            <!-- Databricks -->
            <div class="col-md-2 col-sm-3">
                <a href="#">
                    <img src="img/logos/databricks.jpg" class="img-responsive img-centered" alt="Databricks">
                </a>
            </div>
            <!-- Apache Airflow -->
            <div class="col-md-2 col-sm-3">
                <a href="#">
                    <img src="img/logos/apache-airflow.jpg" class="img-responsive img-centered" alt="Apache Airflow">
                </a>
            </div>
            <!-- dbt -->
            <div class="col-md-2 col-sm-3">
                <a href="#">
                    <img src="img/logos/dbt.jpg" class="img-responsive img-centered" alt="dbt">
                </a>
            </div>
            <!-- Alteryx -->
            <div class="col-md-2 col-sm-3">
                <a href="#">
                    <img src="img/logos/alteryx.jpg" class="img-responsive img-centered" alt="Alteryx">
                </a>
            </div>
        </div>
        <div class="row">
            <!-- Python -->
            <div class="col-md-2 col-sm-3">
                <a href="#">
                    <img src="img/logos/python.jpg" class="img-responsive img-centered" alt="Python">
                </a>
            </div>
            <!-- R -->
            <div class="col-md-2 col-sm-3">
                <a href="#">
                    <img src="img/logos/R.jpg" class="img-responsive img-centered" alt="R">
                </a>
            </div>
            <!-- SQL -->
            <div class="col-md-2 col-sm-3">
                <a href="#">
                    <img src="img/logos/sql.jpg" class="img-responsive img-centered" alt="SQL">
                </a>
            </div>
            <!-- Power BI -->
            <div class="col-md-2 col-sm-3">
                <a href="#">
                    <img src="img/logos/powerbi.jpg" class="img-responsive img-centered" alt="Power BI">
                </a>
            </div>
            <!-- Streamlit -->
            <div class="col-md-2 col-sm-3">
                <a href="#">
                    <img src="img/logos/streamlit.jpg" class="img-responsive img-centered" alt="Streamlit">
                </a>
            </div>
            <!-- Apache Spark -->
            <div class="col-md-2 col-sm-3">
                <a href="#">
                    <img src="img/logos/apache-spark.jpg" class="img-responsive img-centered" alt="Apache Spark">
                </a>
            </div>
            <!-- Azure Data Factory -->
            <div class="col-md-2 col-sm-3">
                <a href="#">
                    <img src="img/logos/azure-data-factory.jpg" class="img-responsive img-centered" alt="Azure Data Factory">
                </a>
            </div>
        </div>
    </div>
</aside>
