<section class="contact-section" id="contact">
    <div class="text-container">
        <div class="end-text">
            <p class="end-lead-in">Data Engineer and Data Scientist experienced in building scalable data pipelines, optimizing cloud solutions, </p> 
            <p class="end-lead-in">and integrating machine learning models to drive data-driven insights using Snowflake, dbt, Azure, Python and More </p>
            <div class="end-heading">Connect with me Now</div>
            <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            <div class="contact-icons">
                <a href="https://github.com/vivekp1705" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/vivek-pandya501" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="path/to/your_resume.pdf" download>
                    <i class="fa fa-download"></i>
                </a>
            </div>
        </div>
    </div>
</section>