  <footer>
        <div class="text-container">
            <div class="end-text">
                <div class="end-lead-in">Data Engineer and Data Scientist experienced in building scalable data pipelines, optimizing cloud solutions, and integrating machine learning models to drive data-driven insights using Snowflake, dbt, Azure, Python and More</div>
                <div class="end-heading">Connect with me Now</div>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
  </footer>
