<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Distributed Data Processing (Apache Spark, Scala)</h4>
                    <p class="text-muted">Expertise in Apache Spark and Scala for distributed computing and handling large-scale datasets efficiently across cloud platforms like Databricks, Snowflake, and Azure. Skilled in developing scalable data pipelines, real-time analytics, and data engineering solutions</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Statistical Modeling & Machine Learning (Python, R)</h4>
                    <p class="text-muted">Advanced knowledge of statistical modelling and machine learning using Python and R (e.g., using libraries like Scikit-learn, TensorFlow, and R's caret package)</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Pipeline Automation & Visualization (SQL, Python)</h4>
                    <p class="text-muted">Proficiency in SQL and Python for automating and orchestrating data pipelines using tools like dbt and Airflow. Expertise in building dynamic dashboards with PowerBI, RShiny and Streamlit for Business Intelligence and Real-Time Insights</p>
                </div>
            </div>
        </div>
    </section>
